/* ===== HEADER ===== */
.header {
  position: relative;
  width: 393px;
  height: 116px;
  background: #FBF9F6;
}
 


/* Лого */
.header__logo {
  position: absolute;
  top: 21px;
  left: 17px;
  width: 74px;
  height: 75px;
}

/* Кнопка меню */
.header__menu-btn {
  position: absolute;
  top: 24px;
  left: 322px;
  width: 52px;
  height: 52px;
  border: none;
  background: transparent;
  cursor: pointer;
}

/* Меню (по умолчанию скрыто) */
.header__menu {
  position: absolute;
  top: 116px; /* сразу под шапкой */
  left: 0;
  width: 393px;
  display: flex;
  flex-direction: column;
  background: #fff;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* Крестик закрытия меню */
.header__menu-close {
  width: 22px;
  height: 22px;
  margin: 22px 0 0 337px; /* сверху 22px, слева 337px */
  cursor: pointer;
}

/* Цветная плашка с кнопками меню */
.menu__item {
  display: flex;
  align-items: center;
  width: 393px;
  height: 78px;
  background: linear-gradient(90deg, #FDF3CD 0.02%, #FFF9AB 47.12%, #F0DDC8 99.97%);
  margin-top: 8px;
  padding-left: 39px;
  box-sizing: border-box;
}

.menu__link {
  color: #534F4B;
  font-family: "DM Serif Text", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
