.artists-carousel {
  position: relative;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
  background: #FBF9F6;
}

.carousel-background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 393px;
  height: 314px; /* можно менять отступ */
  background: #FBF9F6;
  border-radius: 20px;
  z-index: 1;
}

.carousel-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-track {
  display: flex;
  gap: 27px;
  transition: transform 0.5s ease;
  width: max-content; /* <-- вот это спасёт */
  flex-shrink: 0;     /* <-- а это не даст треку схлопнуться */
}


.carousel-item {
  min-width: 198px;
  height: 198px;
  border-radius: 20px;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  filter: brightness(0.7) blur(1px); /* боковые артисты мутные */
  transition: all 0.5s ease;
}

.carousel-item.active {
  filter: none; /* центральный артист четкий */
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-name {
  margin-top: 20px;
  font-family: "DM Serif Text", serif;
  font-size: 16px;
  text-align: center;
  color: #000;
  min-width: 150px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.carousel-dots {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.dot {
  width: 9px;
  height: 9px;
  background: #534F4B;
  border-radius: 50%;
  display: inline-block;
  transition: background 0.3s ease;
}

.dot.active {
  background: #FFD226;
}

.carousel-btn {
  margin-top: 20px;
  padding: 12px 20px;
  background: linear-gradient(90deg, #FDF3CD 0%, #FFF9AB 50%, #F0DDC8 100%);
  border-radius: 20px;
  box-shadow: 3px 7px 14px rgba(0,0,0,0.25);
  color: #534F4B;
  text-decoration: none;
  font-family: "DM Serif Text", serif;
  font-size: 24px;
  text-align: center;
}



.plaque-bottom {
  width: 328px;
  height: 463px;
  border-radius: 20px;
  background: #FDF3CD;
  margin: 40px auto 0;
}

.plaque-middle {
  width: 393px;
  height: 314px;
  background: rgba(255, 255, 255, 0);
  margin: -314px auto 0; 
 
}

.plaque-name {
  width: 196px;
  height: 47px;
  border-radius: 20px;
  background: #FBF9F6;
  margin: 20px auto 0;
}
