.hero__video {
  width: 393px;
  height: 488px;
  object-fit: cover;
  display: block;
  position: relative;
}


.hero__overlay--top {
  position: absolute;
  top: 442px;
  left: 0px;
  width: 173px;
  height: 57px;
  background-color: #F8EEE2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__overlay--top .hero__text {
  color: var(--color-accent-red);
  font-family: var(--font-primary);
  font-size: var(--fs-xl);
  font-weight: var(--fw-regular);
  line-height: 95%;
  letter-spacing: 0.96px;
  margin: 0;
  text-align: center;
}


.hero__date {
  width: 330px;
  height: 57px;
  background-color: #F0DDC8;
  margin: 20px 0 0 63px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__date .hero__title {
  font-family: var(--font-primary);
  font-size: var(--fs-2xl);
  font-weight: var(--fw-regular);
  color: var(--color-text-main);
  line-height: normal;
  margin: 0;
}


.hero__ticket {
  width: 330px;
  height: 57px;
  background-color: var(--color-primary);
  box-shadow: 3px 7px 14px rgba(0,0,0,0.25);
  margin: 13px 0 0 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hero__ticket .hero__text {
  font-family: var(--font-primary);
  font-size: var(--fs-xl);
  font-weight: var(--fw-regular);
  color: var(--color-text-main);
  margin: 0;
  text-align: center;
}

/* ===== DOUBLE LINE ===== */
.double-line {
  position: relative;
  width: 100%;
  height: 5px;
}

.double-line__line {
  width: 393px;
  height: 2px;
  background-color: var(--color-text-main);
  margin: 0 auto;
}

.double-line__line:first-child {
  margin-top: 27px;
}

.double-line__line:last-child {
  margin-top: 3px;
}

/* ===== STARS ===== */
.stars {
  position: relative;
  height: 50px;
}

.stars__icon {
  position: absolute;
}

.stars__icon--small {
  width: 16px;
  height: 15.745px;
}

.stars__icon--large {
  width: 30px;
  height: 30.366px;
}


.stars__icon--small:first-child {
  left: 139px;
  top: calc(27px + 2px + 27px);
}

.stars__icon--large {
  left: 182px;
  top: calc(20px + 2px + 25px);
}

.stars__icon--small:last-child {
  left: 239px;
  top: calc(27px + 2px + 27px);
}

/* ===== IMAGE BLOCK ===== */
.image-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.image-block__img {
  width: 312.02px;
  height: 102px;
  align-items: center;
  object-fit: contain;
}


.image-block__line {
  background-color: var(--color-text-main);
  margin-top: 0;
}

.image-block__line--top {
  width: 312.02px;
  height: 2px;
  margin-top: 0;
}

.image-block__line--middle {
  width: 285px;
  height: 2px;
  margin-top: 3px;
}

/* ===== INTRO TEXT ===== */
.intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.intro-text__title {
  width: 293px;
  height: 41px;
  text-align: center;
  color: var(--color-text-main);
  font-family: var(--font-primary);
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  line-height: var(--lh-relaxed);
  letter-spacing: 0.64px;
  margin: 0;
}


.intro-text__line {
  width: 285px;
  height: 2px;
  background-color: var(--color-text-main);
  margin-top: 7px;
}


/* ===== STAR COMPOSITION ===== */
.stars-composition {
  position: relative;
  width: 100%;
  height: 150px; 
}


.star {
  position: absolute;
}

.star--one {
  width: 18px;
  height: 17.995px;
  top: 26px;
  left: 313px;
}

.star--two {
  width: 7px;
  height: 6.748px;
  top: 20px;
  left: 341px;
}

.star--three {
  width: 7px;
  height: 6.748px;
  top: 51px;
  left: 333px;
}


.instrument {
  position: absolute;
  width: 185px;
  height: 95px;
  top: 44px;
  left: 104px;
  object-fit: contain;
}

/* ===== CTA PROGRAMME ===== */
.cta-programme {
  margin-top: 12px;
  margin-left: 97px;
  display: flex;
  justify-content: flex-start;
}

.cta-programme__btn {
  display: block;
  width: 199px;
  height: 73px;
  background-color: var(--color-text-main);
  border-radius: 20px;
  box-shadow: 3px 7px 14px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  position: relative;
  padding: 7px 0 0 34px; 
  font-family: var(--font-primary);
  font-size: var(--fs-xl); 
  font-weight: var(--fw-regular);
  line-height: 121.01%;
  color: var(--color-bg-menu);
}

.cta-programme__btn .highlight {
  color: var(--color-accent-red); 
}

