/* ==========================
   Mobile Menu
   ========================== */
.header__menu {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0px);
  z-index: 1000;
  overflow: hidden;

  opacity: 0;
  pointer-events: none; 
  transition:
    opacity 0.35s ease,
    background 0.35s ease,
    backdrop-filter 0.35s ease;
}


.header__menu.menu--open {
  opacity: 1;
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(5px);
}

.menu__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg-menu);

  transform: translateY(-20px);
  opacity: 0;

  transition:
    transform 0.45s ease,
    opacity 0.45s ease;
}

.header__menu.menu--open .menu__inner {
  transform: translateY(0);
  opacity: 1;
}



.menu__close-btn {
  position: absolute;
  top: 34px; 
  left: 333px; 
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
}


.menu__list {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
  gap: 8px;
}


.menu__item {
  width: 100%;
  height: 78px;
  background: var(--gradient-menu);
  display: flex;
  align-items: flex-start;
  padding-left: 39px;   
  padding-top: 23px;  
  box-sizing: border-box;
}


.menu__link {
  font-family: var(--font-primary);
  font-size: var(--fs-xl);
  font-weight: var(--fw-regular);
  line-height: normal;
  color: var(--color-text-main);
  text-decoration: none;
}


.menu__item:hover {
  opacity: 0.9;
}

.menu__logo img {
  display: block;
  width: 74px; 
  height: auto;
  padding-left: 17px;
  padding-top: 17px;
}


