/* ===== HERO STARS ===== */
.hero-stars {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.hero-stars__item {
  width: 30px;
  height: 30px;
}

/* ===== ABOUT SECTION ===== */
.about-section {
  width: 100%;
  padding: 0 20px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.about-block__title {
  width: 243px;
  height: 51px;
  margin: 18px auto 0;
  border-radius: 20px;
  background: linear-gradient(90deg, #FDF3CD 0%, #FFF9AB 47%, #F0DDC8 100%);
  box-shadow: 3px 7px 14px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-serif);
  font-size: 20px;
  color: var(--Jaune-Text, #FFD226);
}


.about-block {
  width: 100%;
  max-width: 333px;
  margin-top: 0px;
  text-align: left;
}


.about-block__list li {
  font-family: var(--font-serif);
  font-size: 14px;
  color: var(--gris, #534F4B);
  line-height: 1.3;
  margin-bottom: 12px;
}

.about-block__list li strong {
  color: var(--Jaune-Text, #FFD226);
}


.about-block--charte {
  margin-top: 40px;
  width: 100%;
  max-width: 350px;
}


.charte-item {
  display: flex;
  align-items: flex-start;
  gap: 11px; /* расстояние между плашкой и текстом */
  margin-bottom: 0px; /* между рядами */
}



.charte-item__label {
  width: 135px;
  height: 27px;
  border-radius: 20px;
  background: var(--Jaune-Text, #FFD226);

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 14px;
  margin-top: 51px;

  font-family: var(--font-serif);
  font-size: 20px;
  color: #fff;
}


.charte-item__text {
  width: 210px;
  margin-left: 11px;
  margin-top: 37px;

  font-family: var(--font-serif);
  font-size: 14px;
  color: var(--gris, #534F4B);
  line-height: normal;
}




.about-section {
  padding-bottom: 74px;
}
